
body {
    font-family: Arial;
    background-color: whitesmoke;
    
}

.logo {
    font-size: 1.5rem; 
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 80px;
    
}
.card {
   width: 420px;
   height: 315px;
   
}

.card-title {
    display: flex;
    justify-content: center;
    
}
